AWAAZ_DATABASE_URL=sqlite+aiosqlite:////data/awaaz.db
AWAAZ_DATA_DIR=/data
AWAAZ_WORKER_CONCURRENCY=1
AWAAZ_WORKER_POLL_SECONDS=1
AWAAZ_MAX_RETRIES=3
AWAAZ_MAX_UPLOAD_BYTES=20971520
AWAAZ_OPENAI_BACKEND=kokoro
AWAAZ_CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
AWAAZ_CELERY_RESULT_BACKEND=rpc://

AWAAZ_SUPERTONIC__BASE_URL=http://supertonic:7788/v1
AWAAZ_SUPERTONIC__API_KEY=not-needed
AWAAZ_SUPERTONIC__MODEL=supertonic-3
AWAAZ_SUPERTONIC__VOICE=M1
AWAAZ_SUPERTONIC__TIMEOUT_SECONDS=300
AWAAZ_SUPERTONIC__MAX_CHARACTERS=4000

AWAAZ_KOKORO__BASE_URL=http://kokoro:8880/v1
AWAAZ_KOKORO__API_KEY=not-needed
AWAAZ_KOKORO__MODEL=kokoro
AWAAZ_KOKORO__VOICE=af_bella
AWAAZ_KOKORO__TIMEOUT_SECONDS=300
AWAAZ_KOKORO__MAX_CHARACTERS=4000

AWAAZ_CUSTOM__BASE_URL=http://host.docker.internal:9000/v1
AWAAZ_CUSTOM__API_KEY=not-needed
AWAAZ_CUSTOM__MODEL=tts-1
AWAAZ_CUSTOM__VOICE=alloy
AWAAZ_CUSTOM__TIMEOUT_SECONDS=300
AWAAZ_CUSTOM__MAX_CHARACTERS=4000
